//Import bootstrap variables and mixins 
@import "bootstrap/variables.less";	
@import "bootstrap/mixins.less";	

//Add custom CSS
body{
	
}
.page-home{
	#efn_contaier{
		margin-top: 20px;
		font-size: 20px;
	}


	.efn-face{
		 
	}

	.efn-character{
		padding-left: 0; 
		padding-right: 0; 
		margin-left: 0;
		margin-right: 0; 
		vertical-align: middle; 
		margin-top: 15%;

		font-size: 18px;

		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {font-size: 24px; }

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: @screen-md-min) {font-size: 26px; }

		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: @screen-lg-min) {font-size: 28px; }

	}

}
