//Import bootstrap variables and mixins 
@import "bootstrap/variables.less";	
@import "bootstrap/mixins.less";	

//Add custom CSS
html, body {  }
body{
	font-family: "Courier New", Courier, monospace;
	min-height: 100%;
}
.page-home, .page-test-generations, .page-home-js, .page-beta{
	#efn_contaier{
		margin-top: 20px;
		font-size: 20px;
	
		#instructions_container{
			margin-top: 2%; 
			#instructions{

			}
		}

		.char{
				padding-left: 0; 
				padding-right: 0; 
				margin-left: 0;
				margin-right: 0; 
				vertical-align: middle; 
				

				font-size: 24px;

				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) {font-size: 26px; }

				/* Medium devices (desktops, 992px and up) */
				@media (min-width: @screen-md-min) {font-size: 28px; }

				/* Large devices (large desktops, 1200px and up) */
				@media (min-width: @screen-lg-min) {font-size: 30px; }
		}

		#block-no-face{
			.char{
				padding-top: 25px;
			}
		}

		#block-face{
			.char{
				padding-top: 10%;
			}

			.face{
				display: inline !important; 
				max-width: 100%;
				height: auto;
			}
		}




	}


}
